---
title: 'Health Coaching'
description: 'TODO'
permalink: 'health-coaching/'
eleventyNavigation:
    key: Health Coaching
    order: 300
    hideOnDesktop: true
    hideOnMobile: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="../../assets/css/health-coaching.css">
{% endblock %}

{% block body %}
    {% include 'components/banner-interior.html' %}

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RPsbs-693" class="grey-background">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/healthy-food.jpg" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/healthy-food.jpg" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/healthy-food.jpg" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/healthy-food.jpg" | resize({ width: 1084, height: 1294}) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/healthy-food.jpg" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/healthy-food.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/healthy-food.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Patricia headshot" width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/health-coaching-2.png" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/health-coaching-2.png" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/health-coaching-2.png" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/health-coaching-2.png" | resize({ width: 1084, height: 1294 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/health-coaching-2.png" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/health-coaching-2.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/health-coaching-2.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Patricia headshot" width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Unlock your body's potential</span>
            <h2 class="cs-title">Health Coaching in Carelton Place</h2>
            <p class="cs-text">
                Are you tired of treating symptoms without understanding their underlying causes? At Aurum Health, we believe that true healing begins with comprehensive insight into your unique biological makeup. Through advanced functional assessments and time-tested natural evaluation methods, we help you uncover the hidden patterns affecting your well-being and develop personalized strategies for lasting health.</p>
            <p class="cs-text">
                Our integrative approach combines cutting-edge scientific testing with traditional wisdom to provide you with a complete picture of your health. Whether you're struggling with chronic fatigue, digestive issues, hormonal imbalances, or simply want to optimize your wellness journey, our specialized assessment tools reveal the specific factors influencing your body's systems—allowing us to create targeted protocols that address the root of your concerns rather than merely masking symptoms. We provide functional lab testing, iridology analysis and thermography assesments- scroll down to learn more.
            </p>
            <p class="cs-text">
                Each body tells its own story. Let us help you understand yours.
            </p>
            <a href="{{ client.bookingLink }}" target="_blank" class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1443">
    <div class="cs-container">
        <picture class="cs-picture">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/healthy-food-2.jpg" | resize({ width: 1082, height: 1342 }) | avif %}" type="image/avif">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/healthy-food-2.jpg" | resize({ width: 1082, height: 1342 }) | webp %}" type="image/webp">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/healthy-food-2.jpg" | resize({ width: 1082, height: 1342 }) | jpeg %}" type="image/jpeg">
           <!--Desktop Image-->
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/healthy-food-2.jpg" | resize({ width: 1060, height: 1280 }) | avif %}" type="image/avif">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/healthy-food-2.jpg" | resize({ width: 1100, height: 724 }) | webp %}" type="image/webp">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/healthy-food-2.jpg" | resize({ width: 1100, height: 724 }) | jpeg %}" type="image/jpeg">
           <img src="{% getUrl "/assets/images/healthy-food-2.jpg" | resize({ width: 1100, height: 724 }) | jpeg %}" alt="Healthy food" width="1082" height="1342" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Nutrition Testing</span>
            <h2 class="cs-title">Functional Lab Testing</h2>
            <p class="cs-text">
                Want to understand more about you? Uncover powerful insights into the root cause of underlying illness with simplified, science-driven testing.
            </p>
            <p class="cs-text">
                Functional lab testing that helps make sense of your biology and what is driving inflammation, chronic illness, fatigue and many other symptoms you are not finding answers to from conventional lab testing.
            </p>
            <p class="cs-text">
                Functional Assessments Available:
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../../assets/svgs/toxins.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Toxins including environmental, molds and heavy metal exposure</h3>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../../assets/svgs/settings.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Metabolic Assessment</h3>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../../assets/svgs/carrot.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Allergy and Food Sensitivity*</h3>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../../assets/svgs/heart-rate.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Gut Health</h3>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../../assets/svgs/microscpoe.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Hormones</h3>
                    </div>
                </li>
                <span>* For more information on the types of tests offered visit <a href=" https://mosaicdx.com/" target="_blank">Mosaic Diagnostics</a></span>
            </ul>             
        </div>
    </div>
</section>
                            
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RPsbs-693" class="grey-background">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/iris.png" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/iris.png" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/iris.png" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/iris.png" | resize({ width: 1084, height: 1294 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/iris.png" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/iris.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/iris.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Patricia headshot" width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Iridology</span>
            <h2 class="cs-title">What is Iridology?</h2>
            <p class="cs-text">
                Iridology is the study of the iris, sclera and pupil and their relationship to individual health. It is an assessment tool that can provide information related to inherent tissue strengths and weaknesses of the body. Although not a common medical practice in North America, Iridology has and continues to be used throughout Eastern Europe and Asia, in fact in Russia , Iridology has been taught only to MDs. The science and practice of Iridology has evolved since being introduced here in North America in the early 1900's and now with advancements in technology and enhanced communication between iriologist's ,subsequently increasing the sharing of information , we are witnessing a much more refined and consolidated practice of the method with strong scientific foundations.
            </p>
            <p class="cs-text">
                Using a pen light and a magnifying glass we look at the iris (colour portion) of the eye. The iris is made up of thousands of fibers that radiate from the pupil out to the sclera (whites) of the eye. The iris is mapped out like a pie graph with each organ/tissue having a segment within the pie graph.By studying the unique markings each iris possess we can determining an individualized health picture for the patient, revealing suggestions of potential health challenges that may not yet symptomatic and with proper support may prevent future degradation and failure of the tissue/organ system functioning. The sclera is also mapped out and reveals more dynamic information about the patient's health. 
            </p>
            <p class="cs-text">
                With this information we can set an individualized health plan that does not rely solely on symptoms to create a health program for that patient. Nutrition, herbal, vitamin ,mineral supplementation and supportive therapies can all be linked to this unique assessment tool. It really is the owner's manual that you never downloaded for yourself. Unique to you and serving to utilize only the most beneficial tools for your body. It really is an investment in your health equity!
            </p>
            <p class="cs-text vertical-center">
                <img src="../../assets/svgs/smile.svg" alt="smile icon">Iridology is part of every initial Health Coaching Assessment 
            </p>
            <a href="{{ client.bookingLink }}" target="_blank" class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--           Side By Side Reverse               -->
<!-- ============================================ -->

<section id="RPsbsr-693">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thermography.png" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thermography.png" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thermography.png" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/thermography.png" | resize({ width: 1084, height: 1294 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/thermography.png" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/thermography.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/thermography.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Jenni headshot" width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thermography-scan.png" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thermography-scan.png" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thermography-scan.png" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/thermography-scan.png" | resize({ width: 1084, height: 1294 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/thermography-scan.png" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/thermography-scan.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/thermography-scan.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Jenni headshot" width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Advanced Preventative Screening</span>
            <h2 class="cs-title">Thermography Assessment</h2>
            <p class="cs-text">
                Medical Thermography provides a non-invasive, comprehensive assessment of the level of inflammation in your body - the most important indicator of your current state of health. The skin responds to physiological changes and a thermography camera generates a thermal map of the body that shows normal or abnormal thermal patterns. These thermal patterns identify: inflammation, congestion, and injury. The cause of illness such as dental issues, musculoskeletal imbalances, toxins/pathogens, or emotional stress. Assessing these thermal variations provides an in depth look at changes in the function of the body function and can aid in developing a targeted treatment plan.
            </p>
            <h4>What's Included?</h4>
            <ul class="cs-text list">
                <li>Imaging appointment: 30-60 minutes in length depending on study.</li>
                <li>An in dept health assessment in the form of a written report. This report tells you what the thermal patterns in your study mean, what the key areas of focus are, and what the treatment plan should be. </li>
                <li>Follow-up phone call with our clinic director and thermology interpreter to review findings.</li>
                <li>We recommend booking a followup thermography scan to monitor the effectiveness of your treatment protocol and help to determine if your state of health is improving.</li>
            </ul>
            <p class="cs-text">
               Prevention is becoming the medical priority in today’s culture, and we are no longer satisfied to accept detection, treatment or management of disease. We believe there is no reason to exaggerate the benefits of Thermography which is unique and beneficial enough to stand on its own merit. Our primary goal is to provide high quality, professional imaging services and a meaningful report to the patient and the referring doctor to support ongoing health assessment and prevention. The mission of Thermography Medical Clinic is to improve health outcomes by providing “The Future of Preventative Healthcare … Today!”.
            </p>
            <p class="cs-text">
                Medical Thermography is a unique technology that takes a picture and creates a map of the infrared patterns of the body. It is different than other screening tools because it helps us to see the metabolic processes and body functions. For more info and to book an appointment please click the button below.
            </p>
            <h2>The results can help in the prevention of disease by monitoring the following:</h2>
            <div class="cs-list-group">
                <ul class="cs-ul">
                    <li class="cs-li">Breast Health</li>
                    <li class="cs-li">Cardiovascuclar Health</li>
                    <li class="cs-li">Muscular Skeletal Disorgers</li>
                    <li class="cs-li">Sinus and Allergies</li>
                    <li class="cs-li">Thyroid Health</li>
                </ul>
                <ul class="cs-ul">
                    <li class="cs-li">Digestive Disorders</li>
                    <li class="cs-li">Visceral Health</li>
                    <li class="cs-li">Dental Pathologies</li>
                    <li class="cs-li">Nerve Damage</li>
                    <li class="cs-li">Inflammation</li>
                </ul>
        </div>
        <span>For more info and to book an appointment please click the button below.</span>
        <a href="{{ client.bookingLink }}" target="_blank"  class="cs-button-solid margin-top-2">Book Appointment</a>
    </div>
    <!--Floating Leaf-->
    <img class="cs-floater" loading="lazy" decoding="async" src="../../assets/images/leaf-graphic.png" alt="leaf" width="216" height="384" aria-hidden="true">
</section>


{% endblock %}