---
title: 'Massage Therapy'
description: "Discover our massage therapy services designed to help you relax and feel your best."
permalink: 'massage-therapy/'
eleventyNavigation:
    key: Massage Therapy
    order: 300
    hideOnDesktop: false
    hideOnMobile: false
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/massage-therapy.css">
    <link rel="stylesheet" href="/assets/css/side-by-side.css">
    <script defer src="/assets/js/faq.js"></script>
{% endblock %}

{% block body %}
                
{% include 'components/banner-interior.html' %}

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RPsbs-693" class="grey-background single-photo">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/massage-1.jpg" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/massage-1.jpg" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/massage-1.jpg" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/massage-1.jpg" | resize({ width: 1084, height: 1294 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/massage-1.jpg" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/massage-1.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/massage-1.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Man receiving a shoulder massage." width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">The Healing power of touch</span>
            <h2 class="cs-title">Massage Therapy in Carleton Place</h2>
            <p class="cs-text">
                Massage therapy is the manipulation of soft tissues of the body including muscles, connective tissue, tendons, ligaments and joints. Massage therapy is a clinically-oriented healthcare option that helps alleviate the discomfort associated with every day occupational stresses, muscular over-use and many chronic pain conditions.
            </p>
            <p class="cs-text">
                Massage therapy should only be provided by a Registered Massage Therapist (RMT). An RMT is a primary healthcare provider in Ontario and anyone may visit an RMT of their choice. Massage therapy can be used as a treatment for both acute and chronic conditions. RMTs work with a wide variety of patients in the treatment of illness, injury rehabilitation and disability.
            </p>
            <p class="cs-text">
                The services of an RMT are not covered under the Ontario Health Insurance Plan (OHIP); however, many extended health benefit plans will cover all or part of the services provided by an RMT. A referral or prescription is not required to visit an RMT, although some insurance companies may require this. Massage therapy treatments may also be reimbursed by automobile insurance companies, if the client was in a motor vehicle accident, or in the case of workplace injuries, by the Workplace Safety and Insurance Board (WSIB).
            </p>
            <p class="cs-text">
                For more info on Massage Therapy and Registered Massage Therapist please visit the <a href="https://www.rmtao.com/" target="_blank">website of the Registered Massage Therapists of Ontario</a>.
            </p>
            <a href="https://aurumhealth.noterro.com/book-online/service/196133/Massage-Therapy-Treatments" target="_blank"  class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-676">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Discover the restorative benefits</span>
            <h2 class="cs-title">Benefits of Massage</h2>
            <p class="cs-text">
                Our therapeutic massage techniques provide relief, restore function and rehabilitate - massage has been shown to help with the following.
            </p>
        </div>
        <div class="sbs-card-text">
            <div class="cs-content-side">
                <p class="cs-list-desc">Massage is also frequently recommended to improve the rate of recovery from injuries</p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span>Minor Sports Injuries</span>
                    </li>
                    <li class="cs-li">
                        <span>Recurring Stress or Repetitive Strain Injuries</span>
                    </li>
                    <li class="cs-li">
                        <span>Whiplash and Whiplash Associated Disorders</span>
                    </li>
                </ul>
                <a href="https://aurumhealth.noterro.com/book-online/service/196133/Massage-Therapy-Treatments" target="_blank"  class="cs-button-solid">Book Appointment</a>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="../../assets/svgs/massage-back.svg" alt="massage-icon" aria-hidden="true" decoding="async" width="52" height="52">
                    </picture>
                    <h2 class="cs-h2">Muscle Recovery</h2>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="../../assets/svgs/circulation.svg" alt="blood-circulation-icon" aria-hidden="true" decoding="async" width="52" height="52">
                    </picture>
                    <h2 class="cs-h2">Circulation</h2>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="../../assets/svgs/fatigue.svg" alt="fatigue-icon" aria-hidden="true" decoding="async" width="52" height="52">
                    </picture>
                    <h2 class="cs-h2">Chronic Muscle Fatigue</h2>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="../../assets/svgs/muscle-pain.svg" alt="muscle-pain-icon" aria-hidden="true" decoding="async" width="52" height="52">
                    </picture>
                    <h2 class="cs-h2">Muscle Pain</h2>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="../../assets/svgs/pain-in-joints.svg" alt="painful-joint-icon" aria-hidden="true" decoding="async" width="52" height="52">
                    </picture>
                    <h2 class="cs-h2">Joint Pain</h2>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="../../assets/svgs/joint-pain.svg" alt="stuck-joint-icon" aria-hidden="true" decoding="async" width="52" height="52">
                    </picture>
                    <h2 class="cs-h2">Limited Joint Mobility</h2>
                </li>
            </ul>
        </div>
    </div>
    <img class="cs-floater" loading="lazy" decoding="async" src="../../assets/images/leaf-graphic.png" alt="leaf" width="216" height="384" aria-hidden="true">    
</section>


<!-- ============================================ -->
<!--           Side By Side Reverse               -->
<!-- ============================================ -->

<section id="RPsbsr-693" class="single-photo">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/massage-assessment.jpg" | resize({ width: 526, height: 628, position: "right" }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/massage-assessment.jpg" | resize({ width: 526, height: 628, position: "right" }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/massage-assessment.jpg" | resize({ width: 526, height: 628, position: "right" }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/massage-assessment.jpg" | resize({ width: 1300, height: 1294, position: "right" }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/massage-assessment.jpg" | resize({ width: 1300, height: 1294, position: "right" }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/massage-assessment.jpg" | resize({ width: 1300, height: 1294, position: "right" }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/massage-assessment.jpg" | resize({ width: 1300, height: 1294, position: "right" }) | jpeg %}" alt="RMT performing an assessment on a client's back" width="526" height="628" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Treatment List</span>
            <h2 class="cs-title">List of Conditions We Treat in Our Center</h2>
            <p class="cs-text">
                Massage therapy can treat both acute and chronic conditions. RMTs work with a wide variety of patients in the treatment of illness, injury, rehabilitation and disability.
            </p>
            <p class="cs-text">
                Massage therapy can prove beneficial to many conditions, including but not limited to the following:</p>
            <div class="cs-list-group">
                <ul class="cs-ul">
                    <li class="cs-li">Anxiety and Depression</li>
                    <li class="cs-li">Arthritis</li>
                    <li class="cs-li">Asthma and Emphysema</li>
                    <li class="cs-li">Cancer</li>
                    <li class="cs-li">Carpal Tunnel Syndrome</li>
                    <li class="cs-li">Chronic Fatigue Syndrome</li>
                    <li class="cs-li">Dislocations</li>
                    <li class="cs-li">Edema</li>
                    <li class="cs-li">Fibromyalgia</li>
                    <li class="cs-li">Headaches</li>
                    <li class="cs-li">Inflammatory Conditions</li>
                    <li class="cs-li">Insomnia</li>
                    <li class="cs-li">Lymphoedema</li>
                    <li class="cs-li">Multiple Sclerosis</li>
                </ul>
                <ul class="cs-ul">
                    <li class="cs-li">Muscle Tension and Spasm</li>
                    <li class="cs-li">Parkinson's Disease</li>
                    <li class="cs-li">Plantar Fasciitis</li>
                    <li class="cs-li">Post-Surgical Rehabilitation</li>
                    <li class="cs-li">Post-Traumatic Stress Disorder (PTSD)</li>
                    <li class="cs-li">Pregnancy and Labor Support</li>
                    <li class="cs-li">Sciatica</li>
                    <li class="cs-li">Scoliosis</li>
                    <li class="cs-li">Sports Injuries</li>
                    <li class="cs-li">Strains and Sprains</li>
                    <li class="cs-li">Stress and Stress-Related Conditions</li>
                    <li class="cs-li">Stroke</li>
                    <li class="cs-li">Tendinitis</li>
                    <li class="cs-li">Whiplash</li>
                </ul>
            </div>
            <a href="https://aurumhealth.noterro.com/book-online/service/196133/Massage-Therapy-Treatments" target="_blank"  class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
    <img class="cs-floater" loading="lazy" decoding="async" src="../../assets/images/leaf-graphic.png" alt="leaf" width="216" height="384" aria-hidden="true">
</section>

<!-- ============================================ -->
<!--                   -FAQ                       -->
<!-- ============================================ -->


<section id="faq-1346">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/baby.png" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/baby.png" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/baby.png" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/baby.png" | resize({ width: 1084, height: 1294 }) | avif %}" type="image/avif">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/baby.png" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/baby.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/baby.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="A black and white photo of a baby laughing at the touch of a hand on their knee." width="526" height="628" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <!--Mobile Image-->
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/senior.png" | resize({ width: 400, height: 480 }) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/senior.png" | resize({ width: 400, height: 480 }) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/senior.png" | resize({ width: 400, height: 480 }) | jpeg %}" type="image/jpeg">
                <!--Desktop Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/senior.png" | resize({ width: 826, height: 986 }) | avif %}" type="image/avif">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/senior.png" | resize({ width: 826, height: 986 }) | webp %}" type="image/webp">
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/senior.png" | resize({ width: 826, height: 986 }) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/senior.png" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="An older man receiving a head massage from a woman" width="526" height="628" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
        <div class="cs-text-faq">
            <div class="cs-content">
                <span class="cs-topper">Research Backed Benefits</span>
                <h2 class="cs-title">Therapeutic Massage Throughout Life's Journey</h2>
                <p class="cs-text">
                    Research from leading institutions demonstrates that massage therapy provides significant benefits across all life stages, from promoting growth in premature infants to reducing anxiety in elderly care. From enhancing athletic performance and supporting pregnancy wellness to boosting workplace productivity and strengthening immunity, therapeutic massage offers evidence-based solutions for diverse health needs.
                </p>
            </div>

            <div class="cs-wrapper">
                <ul class="cs-faq-group">
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <img src="../../assets/svgs/calendar-clock.svg" alt="">
                            <span class="cs-button-text">
                                Throughout The Lifespan
                            </span>
                        </button>
                        <p class="cs-item-p">
                            The Touch Research Institute, University of Miami, has completed many research studies on massage therapy. These researchers have found evidence that massage has significant benefit for babies, children, adults, and elderly persons.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <img src="../../assets/svgs/briefcase.svg" alt="">
                            <span class="cs-button-text">
                                On The Job
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Corporations and other institutions are discovering that massage therapy programs for employees pay off. Job stress has been identified as a serious health care issue that relates to decreased productivity, decrease job satisfaction, increased work related injury, errors and absenteeism.
                        </p>
                        <p class="cs-item-p">
                             Research reported in the Financial Times, and in 'Massage Therapy: The Evidence for Practice' show that massage is a good tool for reducing work stress.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <img src="../../assets/svgs/sport.svg" alt="">
                            <span class="cs-button-text">
                                Sport
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Athletes, coaches, and professional trainers use massage. Massage therapy is used at sporting events to help athletes performance and to help prevent injury. Massage may improve muscle recovery and decrease muscle soreness after exertion.
                        </p>
                        <p class="cs-item-p">
                            Athletes also benefit from the therapy's positive effects on heart rate and blood pressure, and the general relaxation response that reduces anxiety and improves mood.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <img src="../../assets/svgs/baby.svg" alt="">
                            <span class="cs-button-text">
                                Pregnancy and Childbirth
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Receiving massage therapy is safe and beneficial during pregnancy. Many women enjoy the skilled care of a massage therapist to help to alleviate back, neck, and shoulder pain associated with changes in the body during pregnancy.
                        </p>
                        <p class="cs-item-p">
                            The general benefits of increased circulation and enhanced well-being are valuable therapeutic effects. Specially trained massage therapists can even participate during childbirth to help decrease pain and anxiety.
                        </p>
                    </li>
                </ul>
            </div>
            <a href="https://aurumhealth.noterro.com/book-online/service/196133/Massage-Therapy-Treatments" target="_blank"  class="cs-button-solid">Book Appointment</a>

        </div>
        </div>
    </div>
    <img class="cs-floater" loading="lazy" decoding="async" src="../../assets/images/leaf-graphic.png" alt="leaf" width="216" height="384" aria-hidden="true">
</section>
                                

{% endblock %}