---
title: 'Meet Our Natural Health Team | Carleton Place | Aurum Health'
bannerTitle: "Meet The Team"
description: "Discover the experienced practitioners behind Aurum Health in Carleton Place. Certified herbalist, registered massage therapist, and iridologist with decades of healing experience."
permalink: 'meet-the-team/'
eleventyNavigation:
    key: Meet The Team
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/meet-the-team.css">
{% endblock %}

{% block body %}
                
{% include 'components/banner-interior.html' %}

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section class="RPsbs-693" id="patricia">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294, position: "top" }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Photo of Patricia Saliba in the outdoors" width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Meet Patricia</span>
            <h2 class="cs-title">Patricia Saliba, CH, CI, RMT, Owner and Health Coach</h2>
            <p class="cs-text">
                My name is Patricia Saliba.  I have been a certified herbalist and Iridologist for 32 years. My practice has been primarily focused on soft tissue rehabilitation as I am also a registered massage therapist and have used my herbal training as an adjunct treatment to help my clients recover quickly and get to the source of many of their health issues that are chronic, and may also run concurrently or causative to their initial reason for seeking my services.
            </p>
            <p class="cs-text">
                My love of plant medicine goes back to my earliest childhood memories.  My parents were farmers and more specifically, master market gardeners. My father taught me early on to recognize weeds, in particular their names, what environment they thrived in, what they would take away from the soil etc.  I grew to appreciate the wisdom of these plants and soon naturally began to forage and seek new unknown species. 
            </p>
            <p class="cs-text">
                By the time I hit my late teenage years I was starting to grow and cultivate my own herbs for medicine.  I was given a plot of land to experiment and grew rows of lavender and chamomile.  I made soaps and lotions and all my own herbal tea mixtures. 
            </p>
            <p class="cs-text">
                After completing the 2200 hour program and passing my provincial licensing exams I immediately enrolled in an herbal program taught by a German trained professor at the International Academy of Natural Health Sciences. His focus was native western as well as a basis in eastern Chinese herbs, a complete understanding of their pharmacology. Learning patient's constitutional make-up and biological character to tailor the remedy to the patient was central to the assessment of each case study.
            </p>
            <p class="cs-text">
                In addition I studied nutrition, iridology, homoeopathy and meridian theory. 
            </p>
            <p class="cs-text">
                Now 32 years later I welcome the opportunity to do one to one coaching with plant medicine, using my experience, my extensive knowledge of the body's anatomy and a deeply intuitive relationship with healing modalities. I look forward to beginning my journey with those seeking the next level of health care, with the harmony of both traditional wisdom and current, unadulterated science to guide us on a path of restorative health.
            </p>
            <a href="https://aurumhealth.noterro.com/book-online/practitioner/1252514/Patricia-Saliba" target="_blank"  class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section class="RPsbsr-693" id="eric">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/eric.webp" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/eric.webp" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/eric.webp" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/eric.webp" | resize({ width: 1084, height: 1294, position: "top" }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/eric.webp" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/eric.webp" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/eric.webp" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Photo of Eric Darlington" width="526" height="628" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Meet Eric</span>
            <h2 class="cs-title">Eric Darlington, Osteopathy Student</h2>
            <p class="cs-text">
                Eric Darlington is an Osteopathy student who recently completed his second year of Sheridan's HBSc in Osteopathy program. He assesses and treats using gentle manual therapy techniques based on osteopathic philosophy and in-depth anatomy.
            </p>
            <a href="https://aurumhealth.noterro.com/book-online/practitioner/1548693/Eric-Darlington" target="_blank" class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
</section>
{% endblock %}