---
title: 'Meet The Team'
description: "Meet our team of experienced professionals committed to your health and well-being."
permalink: 'meet-the-team/'
eleventyNavigation:
    key: Meet The Team
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    {# <link rel="stylesheet" href="/assets/css/side-by-side.css"> #}
    <link rel="stylesheet" href="/assets/css/meet-the-team.css">
{% endblock %}

{% block body %}
                
{% include 'components/banner-interior.html' %}

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section class="RPsbs-693" id="patricia">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294, position: "top" }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/patricia.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Photo of Patricia Saliba in the outdoors" width="526" height="628" loading="eager" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Meet Patricia</span>
            <h2 class="cs-title">Patricia Saliba, CH, CI, RMT, Owner and Health Coach</h2>
            <p class="cs-text">
                My name is Patricia Saliba.  I have been a certified herbalist and Iridologist for 25 years. My practice has been primarily focused on soft tissue rehabilitation as I am also a registered massage therapist and have used my herbal training as an adjunct treatment to help my clients recover quickly and get to the source of many of their health issues that are chronic, and may also run concurrently or causative to their initial reason for seeking my services.
            </p>
            <p class="cs-text">
                My love of plant medicine goes back to my earliest childhood memories.  My parents were farmers and more specifically, master market gardeners. My father taught me early on to recognize weeds, in particular their names, what environment they thrived in, what they would take away from the soil etc.  I grew to appreciate the wisdom of these plants and soon naturally began to forage and seek new unknown species. 
            </p>
            <p class="cs-text">
                By the time I hit my late teenage years I was starting to grow and cultivate my own herbs for medicine.  I was given a plot of land to experiment and grew rows of lavender and chamomile.  I made soaps and lotions and all my own herbal tea mixtures. 
            </p>
            <p class="cs-text">
                After completing the 2200 hour program and passing my provincial licensing exams I immediately enrolled in an herbal program taught by a German trained professor at the International Academy of Natural Health Sciences. His focus was native western as well as a basis in eastern chinese herbs, a complete understanding of their pharmacology. Learning patient's constitutional make-up and biological character to tailor the remedy to the patient was central to the assessment of each case study.
            </p>
            <p class="cs-text">
                In addition I studied nutrition, iridology, homoeopathy and meridian theory. 
            </p>
            <p class="cs-text">
                Now 25 years later I welcome the opportunity to do one to one coaching with plant medicine, using my experience, my extensive knowledge of the body's anatomy and a deeply intuitive relationship with healing modalities. I look forward to beginning my journey with those seeking the next level of health care, with the harmony of both traditional wisdom and current, unadulterated science to guide us on a path of restorative health.
            </p>
            <a href="{{ client.bookingLink }}" target="_blank"  class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--           Side By Side Reverse               -->
<!-- ============================================ -->

<section class="RPsbsr-693" id="jenni">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 526, height: 628 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 526, height: 628 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 526, height: 628 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 1084, height: 1294 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 1084, height: 1294 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 1084, height: 1294 }) | jpeg %}" alt="Headshot of Jenni Kerteston smiling" width="526" height="628" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="../../assets/svgs/abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
            <img class="cs-sense" loading="lazy" decoding="async" src="../../assets/svgs/spidey-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
        <div class="cs-content" id="jenni">
            <span class="cs-topper">Meet Jenni</span>
            <h2 class="cs-title">Jenni Kerteston, RMT</h2>
            <p class="cs-text">
                Hi! My name is Jenni.
            </p>
            <p class="cs-text">
                I've just completed my training, and graduated with honours from the massage therapy program at Algonquin College. I am excited to bring my passion for health and wellness to Darlington Acupuncture and Massage Therapy here in Carleton Place, where I've lived for nearly 18 years. I am incredibly excited to serve the community that I have come to know and love. This town has been my home, and I am committed to contributing to the health and wellness of its residents through my work at the clinic. My academic journey began at the University of Waterloo, where I earned a BSc. in Biology, followed by a bachelors in education in senior-level biology and chemistry from the University of Western Ontario. These experiences have given me a strong foundation in the sciences and a deep appreciation for the complexities of the human body.
            </p>
            <p class="cs-text">
                My journey in massage therapy is driven by a desire to help people feel their best. My approach is holistic and client-centered, listening to and understanding each client's unique needs to tailor each session accordingly. Whether it's relieving chronic pain, aiding in injury recovery, or offering a relaxing escape from daily stresses, my goal is to help clients achieve their personal wellness goals. One of my passions is that of prenatal massage. I firmly believe in the profound benefits prenatal massage offers expectant mothers, from reducing stress and muscle tension to improving sleep and circulation. My goal is to create a safe and nurturing environment for expectant mothers, allowing them to relax and enjoy the physical and emotional benefits of massage therapy.
            </p>
            <p class="cs-text">
                Outside of my professional life, I am passionate about continuous learning and personal growth. I enjoy staying active, spending time with my daughters and our pets, and exploring the beautiful outdoors of Carleton Place.
            </p>
            <a href="{{ client.bookingLink }}" target="_blank" class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
    <img class="cs-floater" loading="lazy" decoding="async" src="../../assets/images/leaf-graphic.png" alt="leaf" width="216" height="384" aria-hidden="true">
</section>             
{% endblock %}