/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbs-693,
  #RPsbsr-693 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #RPsbs-693.grey-background,
  #RPsbsr-693.grey-background {
    background-color: #f7f7f7;
  }
  #RPsbs-693:last-of-type,
  #RPsbsr-693:last-of-type {
    padding-bottom: clamp(25rem, 30vw, 28.125rem);
  }
  #RPsbs-693 .cs-container,
  #RPsbsr-693 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RPsbs-693 .cs-content,
  #RPsbsr-693 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RPsbs-693 .cs-content .cs-li,
  #RPsbsr-693 .cs-content .cs-li {
    list-style-image: url("../svgs/heart-up.svg");
    list-style-position: outside;
    line-height: 1;
    margin-left: 1.5rem;
  }
  #RPsbs-693 .cs-content .cs-li::marker,
  #RPsbsr-693 .cs-content .cs-li::marker {
    font-size: 3em;
  }
  #RPsbs-693 .cs-content .cs-li .bullet-transform,
  #RPsbsr-693 .cs-content .cs-li .bullet-transform {
    display: inline-block;
    vertical-align: 0.1em;
    transform: translate(0, 0.6em);
  }
  #RPsbs-693 .cs-list-group,
  #RPsbsr-693 .cs-list-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  #RPsbs-693 .cs-color,
  #RPsbsr-693 .cs-color {
    color: var(--primary);
  }
  #RPsbs-693 .cs-text,
  #RPsbsr-693 .cs-text {
    margin-bottom: 1rem;
  }
  #RPsbs-693 .cs-text:last-of-type,
  #RPsbsr-693 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RPsbs-693 .cs-text.vertical-center,
  #RPsbsr-693 .cs-text.vertical-center {
    display: flex;
    gap: 0.5rem;
  }
  #RPsbs-693 .cs-button-solid,
  #RPsbsr-693 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RPsbs-693 .cs-button-solid.margin-top-2,
  #RPsbsr-693 .cs-button-solid.margin-top-2 {
    margin-top: 2rem;
  }
  #RPsbs-693 .cs-button-solid:before,
  #RPsbsr-693 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #RPsbs-693 .cs-button-solid:hover:before,
  #RPsbsr-693 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RPsbs-693 .cs-floater,
  #RPsbsr-693 .cs-floater {
    /* 80px - 216px */
    width: clamp(5rem, 9vw, 13.5rem);
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  #RPsbs-693 .cs-image-group,
  #RPsbsr-693 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.15vw, 0.75em);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 42.1875em;
    height: 50.3125em;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #RPsbs-693 .cs-picture,
  #RPsbsr-693 .cs-picture {
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #RPsbs-693 .cs-picture img,
  #RPsbsr-693 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #RPsbs-693 .cs-picture1,
  #RPsbsr-693 .cs-picture1 {
    width: 33.875em;
    height: 40.4375em;
    border-radius: 17.8125em;
    top: 0;
    left: 0;
  }
  #RPsbs-693 .cs-picture2,
  #RPsbsr-693 .cs-picture2 {
    width: 25.8125em;
    height: 30.8125em;
    border-radius: 12.875em;
    border: 0.75em solid #fff;
    background-color: #fff;
    bottom: 0;
    right: 0;
  }
  #RPsbs-693 .cs-flower,
  #RPsbsr-693 .cs-flower {
    width: 22.6875em;
    height: auto;
    display: block;
    position: absolute;
    bottom: -1.875em;
    left: -0.625em;
    z-index: -1;
    transform: rotate(-142deg);
  }
  #RPsbs-693 .cs-sense,
  #RPsbsr-693 .cs-sense {
    width: 5.0625em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 28.75em;
    right: 1.375em;
    transform: rotate(164deg);
  }
  #RPsbs-693.single-photo .cs-sense,
  #RPsbsr-693.single-photo .cs-sense {
    top: -2rem;
    right: 8rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbs-693 .cs-container,
  #RPsbsr-693 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #RPsbs-693 .cs-image-group,
  #RPsbsr-693 .cs-image-group {
    font-size: min(1.15vw, 1em);
  }
  #RPsbs-693 .cs-content,
  #RPsbsr-693 .cs-content {
    width: 48%;
  }
  #RPsbs-693 .cs-content .cs-text.list,
  #RPsbsr-693 .cs-content .cs-text.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr-693 .cs-picture2 {
    border-color: #f7f7f7;
  }
  #RPsbsr-693 .cs-picture1 {
    left: auto;
    right: 0;
  }
  #RPsbsr-693 .cs-picture2 {
    right: auto;
    left: 0;
  }
  #RPsbsr-693 .cs-flower {
    left: auto;
    right: -0.625rem;
    transform: rotate(142deg);
  }
  #RPsbsr-693 .cs-sense {
    right: auto;
    left: 22/16em;
    transform: rotate(100deg);
  }
  #RPsbsr-693 .cs-floater {
    display: none;
    right: auto;
    left: 0;
    transform: scaleX(-1);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbsr-693 .cs-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
    align-self: flex-start;
  }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 98.75rem) {
  #RPsbsr-693 .cs-floater {
    display: block;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1443 {
    position: relative;
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbs-1443 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #sbs-1443 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1443 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1443 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1443 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  #sbs-1443 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #sbs-1443 .cs-li-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 50%;
    background-color: var(--primaryLight);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #sbs-1443 .cs-li-picture:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1443 .cs-li-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbs-1443 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbs-1443 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-1443 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1443 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-1443 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1443 .cs-picture {
    width: 100%;
    max-width: 40.625rem;
    min-height: 22.625rem;
    border-radius: 1.5rem;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1443 .cs-picture img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  #sbs-1443 .cs-floater {
    width: clamp(5rem, 9vw, 13.5rem);
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1443 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #sbs-1443 .cs-content {
    width: 50%;
    padding: 2.5rem 0;
  }
  #sbs-1443 .cs-picture {
    height: auto;
    width: 55%;
    height: 40rem;
  }
}
@media only screen and (min-width: 90rem) {
  #sbs-1443 .cs-floater {
    display: block;
  }
}

/*# sourceMappingURL=health-coaching.css.map */
