/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1131 {
    padding: var(--sectionPadding);
    background-color: var(--greyBackground);
  }
  #services-1131 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1131 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1131 .cs-topper {
    color: var(--primary);
  }
  #services-1131 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #services-1131 .cs-item {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3vw, 2rem);
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    text-decoration: none;
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  #services-1131 .cs-item:hover {
    box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
    border-color: transparent;
  }
  #services-1131 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #services-1131 .cs-image-group {
    width: 6.25rem;
    height: auto;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 2.5vw, 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
  }
  #services-1131 .cs-icon {
    width: 3rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #services-1131 .cs-graphic {
    width: 100%;
    height: auto;
  }
  #services-1131 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-1131 .cs-item-text {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1131 .cs-item {
    text-align: left;
    align-items: flex-start;
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1131 .cs-item {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-888 {
    padding: var(--sectionPadding);
  }
  #stats-888 .cs-container {
    width: 100%;
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-888 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #stats-888 .cs-text {
    margin-bottom: 1rem;
  }
  #stats-888 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #stats-888 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
  }
  #stats-888 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #stats-888 .cs-button-solid:hover:before {
    width: 100%;
  }
  #stats-888 .cs-card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    position: relative;
  }
  #stats-888 .cs-item {
    grid-column: span 1;
    width: 7rem;
    height: 7rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: clamp(2.75rem, 5vw, 3.75rem) 2rem;
    box-sizing: border-box;
    overflow: hidden;
  }
  #stats-888 .cs-item:nth-of-type(1) {
    background-color: rgba(76, 92, 47, 0.25);
    border-radius: 0 5rem 0 5rem;
  }
  #stats-888 .cs-item:nth-of-type(2) {
    background-color: rgba(76, 92, 47, 0.25);
    border-radius: 5rem 0 5rem 0;
    transform: rotate(-45deg) translateY(-25px) translateX(25px);
  }
  #stats-888 .cs-item:nth-of-type(2) .cs-desc {
    transform: rotate(45deg);
  }
  #stats-888 .cs-item:nth-of-type(3) {
    background-color: rgba(76, 92, 47, 0.25);
    border-radius: 5rem 0 5rem 0;
  }
  #stats-888 .cs-stem {
    display: none;
  }
  #stats-888 .cs-desc {
    font-size: clamp(0.75rem, 2vw, 1rem);
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--headerColor);
  }
  #stats-888 .cs-stem {
    display: initial;
    position: relative;
    width: 12px;
    height: 150px;
    background: linear-gradient(to top, var(--primary), var(--primaryLight));
    border-radius: 10px;
    margin: auto;
    margin-top: -23px;
  }
  #stats-888 .cs-stem:nth-of-type(1) {
    transform: rotate(-54deg) translateX(46px) translateY(67px);
    height: 80px;
  }
  #stats-888 .cs-stem:nth-of-type(3) {
    transform: rotate(45deg) translateX(-55px) translateY(61px);
    z-index: -1;
    height: 89px;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-888 .cs-item {
    grid-column: span 1;
    width: 10rem;
    height: 10rem;
  }
  #stats-888 .cs-desc {
    font-weight: 700;
  }
  #stats-888 .cs-card-group {
    gap: 1rem;
  }
  #stats-888 .cs-stem {
    display: initial;
    position: relative;
    width: 12px;
    height: 150px;
    background: linear-gradient(to top, var(--primary), var(--primaryLight));
    border-radius: 10px;
    margin: auto;
    margin-top: -23px;
  }
  #stats-888 .cs-stem:nth-of-type(4) {
    transform: rotate(-54deg) translateX(93px) translateY(88px);
    height: 129px;
  }
  #stats-888 .cs-stem:nth-of-type(6) {
    transform: rotate(45deg) translateX(-104px) translateY(75px);
    z-index: -1;
    height: 150px;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-888 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1141 {
    padding: var(--sectionPadding);
    padding-bottom: clamp(25rem, 30vw, 28.125rem);
    overflow: hidden;
    background-color: var(--greyBackground);
  }
  #meet-team-1141 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1141 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-1141 .cs-text {
    margin-bottom: 2rem;
  }
  #meet-team-1141 .cs-title {
    max-width: 20ch;
  }
  #meet-team-1141 .cs-button-solid {
    color: white;
  }
  #meet-team-1141 .cs-button-solid {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #meet-team-1141 .cs-card-group {
    width: 100%;
    max-width: 41.375rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
  }
  #meet-team-1141 .cs-item {
    list-style: none;
    width: clamp(20rem, 85%, 30rem);
    height: clamp(28rem, 87vw, 32rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    text-decoration: none;
  }
  #meet-team-1141 .cs-item:hover .cs-picture:before, #meet-team-1141 .cs-item:hover .cs-picture:after {
    opacity: 1;
  }
  #meet-team-1141 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-1141 .cs-item:hover .cs-picture .cs-info {
    text-decoration: none;
  }
  #meet-team-1141 .cs-item:hover .cs-info {
    background-color: var(--primaryLight);
  }
  #meet-team-1141 .cs-item:hover .cs-name {
    color: white;
  }
  #meet-team-1141 .cs-item:hover .cs-job {
    color: var(--bodyTextColorWhite);
  }
  #meet-team-1141 .cs-picture {
    width: 100%;
    height: auto;
    margin: 0 0 0.5rem 0;
    /* removed at tablet */
    aspect-ratio: 328/407;
    border-radius: 1rem;
    /* clips the img corners */
    overflow: hidden;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #meet-team-1141 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #meet-team-1141 .cs-info {
    width: 90%;
    justify-content: center;
    height: 5.5rem;
    margin: -2.625rem 0 0;
    padding: 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: background-color 0.3s;
  }
  #meet-team-1141 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1141 .cs-job {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin-right: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
    text-align: center;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #meet-team-1141 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #meet-team-1141 .cs-item {
    width: 48%;
  }
  #meet-team-1141 .cs-picture {
    height: 25.4375rem;
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
  #meet-team-1141 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #meet-team-1141 .cs-content {
    text-align: left;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-1141 .cs-card-group {
    justify-content: center;
    flex-wrap: nowrap;
    order: -1;
  }
  #meet-team-1141 .cs-item {
    width: 100%;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/*# sourceMappingURL=local.css.map */
