---
title: 'Home'
description: "Unlock your body's natural healing potential with personalized, holistic care backed by 32 years of expertise. Experience the perfect blend of traditional wisdom and modern therapeutic techniques for lasting wellness."
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css"/>
<link rel="stylesheet" href="/assets/css/critical.css"
media="print" onload="this.media='all'; this.onload=null;">
<noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
</noscript>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.province %},
                        "addressRegion": "{{ client.address.province }}"
                    {% endif %}
                    {% if client.address.postalCode %},
                        "postalCode": "{{ client.address.postalCode }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-671">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Invest In Your Health Equity</span>
            <h2 class="cs-title">Wellness Coaching & Massage Therapy</h2>
            <p class="cs-text">
                Unlock your body's natural healing potential with personalized, holistic care backed by 32 years of expertise. Experience the perfect blend of traditional wisdom and modern therapeutic techniques for lasting wellness.
            </p>
            <a href="{{ client.bookingLink }}" target="_blank" class="cs-button-solid">Book Appointment</a>
        </div>
        <picture class="cs-background">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 1200, height: 1000 }) | avif %}" type="image/avif">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 1200, height: 1000 }) | webp %}" type="image/webp">
           <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 1200, height: 1000 }) | jpeg %}" type="image/jpeg">
           <!--Desktop Image-->
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 1978, height: 2000 }) | avif %}" type="image/avif">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 1978, height: 2000 }) | webp %}" type="image/webp">
           <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 1978, height: 2000 }) | jpeg %}" type="image/jpeg">
           <img src="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2000, height: 1000 }) | jpeg %}" alt="Herbal medicine" width="1200" height="1000" loading="eager" decoding="async" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1131">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Natural Healing Services</span>
            <h2 class="cs-title">Discover Your Path To Wellness</h2>
            <p class="cs-text">
                Explore each of our services listed below. Each service is tailored to your unique needs, supporting your journey to optimal health and vitality.
            </p>
        </div>
        <ul class="cs-card-group">
            <a href="/health-coaching" class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="./assets/svgs/salad.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="./assets/svgs/blob-services.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Health Coaching</h3>
                    <p class="cs-item-text">
                        Our holistic health coaching combines an up-to-date iridology assessment, personalized nutrition analysis, functional lab testing and thermography to design bio-individualized health programs.
                    </p>
                </div>
            </a>
            <a href="/massage-therapy" class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="./assets/svgs/massage.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="./assets/svgs/blob-services.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Massage Therapy</h3>
                    <p class="cs-item-text">
                        Our massage therapy goes beyond relaxation to address pain, improve mobility, and enhance your body's natural healing processes.
                    </p>
                </div>
            </a>
            <a href="/services#scar-treatment" class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="./assets/svgs/healthy.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="./assets/svgs/blob-services.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Scar Tissue Treatment</h3>
                    <p class="cs-item-text">
                        Using specialized techniques and natural approaches, we help break down scar tissue formation and manage chronic pain, restoring your body's optimal function and movement.
                    </p>
                </div>
            </a>
            <a href="/services#vagus-therapy" class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="./assets/svgs/hand-heart.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="./assets/svgs/blob-services.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="csflex">
                    <h3 class="cs-h3">Vagal Nerve Regulation</h3>
                    <p class="cs-item-text">
                        Through gentle micro-current, Health Canada approved techniques, we help regulate your vagal nerve function, improving your body's stress response, immunity, respiration, digestion and circulation.
                    </p>
                </div>
            </a>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-888">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Mission</span>
            <h2 class="cs-title">Aurum Health and Our Mission</h2>
            <p class="cs-text">
                At Aurum Health our mission is to use an integrated approach to create personalized wellness plans. Our bio-individualized assessment tools and testing put an end to symptomatic care to uncover the sources behind the symptoms and diagnostic labels. Education and experience combine to use this information to inform optimal nutritional approaches, herbal/vitamin/ mineral supplementation, detox programs and supportive modalities.
            </p>
            <p class="cs-text">
                We take the time to investigate and listen to the story your body is telling you because we care deeply about your health and are honoured to be a part of your wellness journey.
            </p>
            <a href="{{ client.bookingLink }}" target="_blank"  class="cs-button-solid">Book Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-desc">Investigative and Integrative Methods</span>
            </li>
            <li class="cs-item">
                <span class="cs-desc">Education and Experience</span>
            </li>
            <li class="cs-item">
                <span class="cs-desc">Collaborative and Compassionate Care</span>
            </li>
            <div class="cs-stem"></div>
            <div class="cs-stem"></div>
            <div class="cs-stem"></div>
        </div>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Meet Our Wellness Experts</h2>
            </div>
            <span class="cs-text">Meet the dedicated practitioners behind Aurum Health and discover how our combined expertise in traditional healing and modern therapeutic techniques can support your wellness journey</span>
            <a href="/meet-the-team" class="cs-button-solid">Learn More</a>
        </div>
        <ul class="cs-card-group">
            <a href="/meet-the-team#patricia" class="cs-item">
                <picture class="cs-picture">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia-2.png" | resize({ width: 924, height: 930, position: "top" }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia-2.png" | resize({ width: 924, height: 930 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/patricia-2.png" | resize({ width: 924, height: 930 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia-2.png" | resize({ width: 850, height: 814 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia-2.png" | resize({ width: 850, height: 814 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/patricia-2.png" | resize({ width: 850, height: 814 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/patricia-2.png" | resize({ width: 1100, height: 830 }) | jpeg %}" alt="Photo of Patricia Saliba" width="656" height="814" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Patricia Saliba</span>
                    <span class="cs-job">CH, CI, RMT Owner and Health Coach</span>
                </div>
            </a>
            <a href="/meet-the-team#jenni" class="cs-item">
                <picture class="cs-picture">
                   <!--Mobile Image-->
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 656, height: 814 }) | avif %}" type="image/avif">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 656, height: 814 }) | webp %}" type="image/webp">
                   <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 656, height: 814 }) | jpeg %}" type="image/jpeg">
                   <!--Desktop Image-->
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 610, height: 814 }) | avif %}" type="image/avif">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 610, height: 814 }) | webp %}" type="image/webp">
                   <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 610, height: 814 }) | jpeg %}" type="image/jpeg">
                   <img src="{% getUrl "/assets/images/jenni.jpg" | resize({ width: 610, height: 814 }) | jpeg %}" alt="Photo of Jenni Kerteston" width="656" height="814" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Jenni Kerteston</span>
                    <span class="cs-job">RMT</span>
                </div>
            </a>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1396">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Happy Clients' Feedback About Our Service</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="./assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    I walk in with extreme pain and discomfort, I walk out relieved of the heavy burden of pain. I honestly don't know what I would do without Patricia's competent healing abilities. God bless you 🙏
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        P.R.
                        <span class="cs-job">2020</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="./assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    There is no wait time, it's calm and relaxing. Patricia is easy to talk to and takes the time to explain what is going on. The quality of care is effective.
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Shelley S.
                        <span class="cs-job">2023</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="./assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Patricia is a wonderful therapist! Her hands-on skills are exceptional and her kind, empathetic approach makes her patients feels comfortable and relaxed.
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Jenny S.
                        <span class="cs-job">2021</span>
                    </span>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="./assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Experience always counts…
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Macnhoj
                        <span class="cs-job">2021</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="./assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Extremely good at her job.
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        AP
                        <span class="cs-job">2024</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="./assets/svgs/quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    A deep sense of safety, trust and acceptance every time.
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        L.B.
                        <span class="cs-job">2025</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
{% include 'components/cta.html' %}
{% endblock %}