/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-693,
    #RPsbsr-693 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        &.grey-background {
            background-color: #f7f7f7;
        }

        &:last-of-type {
            padding-bottom: clamp(25rem, 30vw, 28.125rem);
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-content .cs-li {
            list-style-image: url("../svgs/heart-up.svg");
            list-style-position: outside;
            line-height: 1;
            margin-left: 1.5rem;

        &::marker {
            font-size: 3em;
            }
        .bullet-transform {
            display: inline-block;
            vertical-align: 0.1em;
            transform: translate(0, 0.6em);
            }
        }

        .cs-list-group {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            margin-bottom: 2rem;
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }

            &.vertical-center {
                display: flex;
                gap: 0.5rem;
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &.margin-top-2 {
                margin-top: 2rem;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-floater {
            /* 80px - 216px */
            width: clamp(5rem, 9vw, 13.5rem);
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: min(2.15vw, 0.75em);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(675 / 16 * 1em);
            height: calc(805 / 16 * 1em);
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            overflow: hidden;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: calc(542 / 16 * 1em);
            height: calc(647 / 16 * 1em);
            border-radius: calc(285 / 16 * 1em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: calc(413 / 16 * 1em);
            height: calc(493 / 16 * 1em);
            border-radius: calc(206 / 16 * 1em);
            border: calc(12 / 16 * 1em) solid #fff;
            background-color: #fff;
            bottom: 0;
            right: 0;
        }

        .cs-flower {
            width: calc(363 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            bottom: calc(-30 / 16 * 1em);
            left: calc(-10 / 16 * 1em);
            z-index: -1;
            transform: rotate(-142deg);
        }

        .cs-sense {
            width: calc(81 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            bottom: calc(460 / 16 * 1em);
            right: calc(22 / 16 * 1em);
            transform: rotate(164deg);
        }


        &.single-photo .cs-sense {
            top: -2rem;
            right: 8rem;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-693,
    #RPsbsr-693 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-image-group {
            font-size: min(1.15vw, 1em);
        }

        .cs-content {
            width: 48%;

            .cs-text.list {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                margin-top: 1rem;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-693 {
        .cs-picture2 {
            border-color: #f7f7f7;
        }

        .cs-picture1 {
            left: auto;
            right: 0;
        }

        .cs-picture2 {
            right: auto;
            left: 0;
        }

        .cs-flower {
            left: auto;
            right: calc(-10 / 16 * 1rem);
            transform: rotate(142deg);
        }

        .cs-sense {
            right: auto;
            left: 22/16em;
            transform: rotate(100deg);
        }

        .cs-floater {
            display: none;
            right: auto;
            left: 0;
            transform: scaleX(-1);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-693 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
            align-self: flex-start;
        }
    }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 98.75rem) {
    #RPsbsr-693 {
        .cs-floater {
            display: block;
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1443 {
        position: relative;
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(24 / 16 * 1rem);
        }
        
        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            margin: 0;
            border-radius: 50%;
            background-color: var(--primaryLight);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: calc(32 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-li-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width .3s;
            }
        
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            min-height: calc(362 / 16 * 1rem);
            border-radius: calc(24 / 16 * 1rem);
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }

        .cs-floater {
            width: clamp(5rem, 9vw, 13.5rem);
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleX(-1);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1443 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .cs-content {
            width: 50%;
            padding: calc(40 / 16 * 1rem) 0;
        }

        .cs-picture {
            height: auto;
            width: 55%;
            height: 40rem;
            order: 1;
        }
    }
}

@media only screen and (min-width: 90rem) {
    #sbs-1443 {
        .cs-floater {
            display: block;
        }
    }
}
                                