/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1131 {
        padding: var(--sectionPadding);
        background-color: var(--greyBackground);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--primary)
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: center;
            list-style: none;
            margin: 0;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #fff;
            border: 1px solid #e8e8e8;
            border-radius: calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            text-decoration: none;
            transition:
                box-shadow 0.3s,
                border-color 0.3s;

            &:hover {
                box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
                border-color: transparent;
                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-image-group {
            width: calc(100 / 16 * 1rem);
            height: auto;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 2.5vw, 1.5rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
        }

        .cs-icon {
            width: calc(48 / 16 * 1rem);
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-graphic {
            width: 100%;
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: calc(450 / 16 * 1rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1131 {
        .cs-item {
            text-align: left;
            align-items: flex-start;
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1131 {
        .cs-item {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-888 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto;
            justify-items: center;
            align-items: center;
            // max-width: 400px;
            margin: auto;
            margin-top: 3rem;
            position: relative;
        }

        .cs-item {
            grid-column: span 1;
            width: 7rem;
            height: 7rem;
            
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            // width: 100%;
            text-align: center;
            padding: clamp(2.75rem, 5vw, 3.75rem) calc(32 / 16 * 1rem);
            box-sizing: border-box;
            overflow: hidden;
            // grid-column: span 2;

            &:nth-of-type(1) {
                background-color: rgb(76, 92, 47, 0.25);
                border-radius: 0 calc(80 / 16 * 1rem) 0 calc(80 / 16 * 1rem);
            }
            &:nth-of-type(2) {
                background-color: rgb(76, 92, 47, 0.25);
                border-radius: calc(80 / 16 * 1rem) 0 calc(80 / 16 * 1rem) 0;
                transform: rotate(-45deg) translateY(-25px) translateX(25px);
                .cs-desc {
                    transform: rotate(45deg);
                }
            }
            &:nth-of-type(3) {
                background-color: rgb(76, 92, 47, 0.25);
                border-radius: calc(80 / 16 * 1rem) 0 calc(80 / 16 * 1rem) 0;
            }
        }

        .cs-stem {
            display: none;
        }

        .cs-desc {
            font-size: clamp(0.75rem, 2vw, 1rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-stem {
            display: initial;
            position: relative;
            width: 12px;
            height: 150px;
            background: linear-gradient(to top, var(--primary), var(--primaryLight));
            border-radius: 10px;
            margin: auto;
            margin-top: -23px;
            &:nth-of-type(1) {
                transform: rotate(-54deg) translateX(46px) translateY(67px);
                height: 80px;
            }
            &:nth-of-type(3) {
                transform: rotate(45deg) translateX(-55px) translateY(61px);
                z-index: -1;
                height: 89px;
            }
        }
    }
}

// @media only screen and (max-width: 40.624rem) {
//     &:nth-of-type(1) {
//         background-color: rgb(76, 92, 47, 0.25);
//         border-radius: 0 calc(80 / 16 * 1rem) 0 calc(80 / 16 * 1rem);
//     }
//     &:nth-of-type(2) {
//         background-color: rgb(76, 92, 47, 0.25);
//         border-radius: calc(80 / 16 * 1rem) 0 calc(80 / 16 * 1rem) 0;
//         transform: rotate(-45deg) translateY(-25px) translateX(25px);
//         .cs-desc {
//             transform: rotate(45deg);
//         }
//     }
//     &:nth-of-type(3) {
//         background-color: rgb(76, 92, 47, 0.25);
//         border-radius: calc(80 / 16 * 1rem) 0 calc(80 / 16 * 1rem) 0;

//     }
// }

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-888 {
        .cs-item {
            grid-column: span 1;
            width: 10rem;
            height: 10rem;
        }

        .cs-desc {
            font-weight: 700;
        }

        .cs-card-group {
            gap: 1rem;
        }

        .cs-stem {
            display: initial;
            position: relative;
            width: 12px;
            height: 150px;
            background: linear-gradient(to top, var(--primary), var(--primaryLight));
            border-radius: 10px;
            margin: auto;
            margin-top: -23px;
            &:nth-of-type(4) {
                transform: rotate(-54deg) translateX(93px) translateY(88px);
                height: 129px;
            }
            &:nth-of-type(6) {
                transform: rotate(45deg) translateX(-104px) translateY(75px);
                z-index: -1;
                height: 150px;
            }
        }
    }

}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-888 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1141 {
        padding: var(--sectionPadding);
        padding-bottom: clamp(25rem, 30vw, 28.125rem);
        overflow: hidden;
        background-color: var(--greyBackground);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            margin-bottom: 2rem;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-button-solid {
            color: white;
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            max-width: 41.375rem;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: clamp(20rem, 85%, 30rem);
            height: clamp(28rem, 87vw, 32rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            text-decoration: none;

            &:hover {
                .cs-picture {
                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }

                    .cs-info {
                        text-decoration: none;
                    }
                }

                .cs-info {
                    background-color: var(--primaryLight);
                }

                .cs-name {
                    color: white;
                }

                .cs-job {
                    color: var(--bodyTextColorWhite);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            /* removed at tablet */
            aspect-ratio: 328/407;
            border-radius: calc(16 / 16 * 1rem);
            /* clips the img corners */
            overflow: hidden;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-info {
            width: 90%;
            justify-content: center;
            height: 5.5rem;
            margin: calc(-42 / 16 * 1rem) 0 0;
            padding: calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: calc(12 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: background-color 0.3s;
        }

        .cs-name {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(4 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: block;
            transition: color 0.3s;
        }

        .cs-job {
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: var(--bodyTextColor);
            display: block;
            transition: color 0.3s;
            text-align: center;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-1141 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 48%;
        }

        .cs-picture {
            // height: 21.5rem;
            height: calc(407 / 16 * 1rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
    #meet-team-1141 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            width: 55%;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            justify-content: center;
            flex-wrap: nowrap;
            order: -1;
        }

        .cs-item {
            width: 100%;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

// /* Mobile - 360px */
// @media only screen and (min-width: 0rem) {
//     #reviews-1396 {
//         /* centers the button */
//         text-align: center;
//         padding: var(--sectionPadding);
//         /* clips the orbs from causing overflow issues */
//         overflow: hidden;
//         position: relative;
//         z-index: -1;
//         padding-bottom: clamp(25rem, 30vw, 28.125rem);

//         .cs-container {
//             width: 100%;
//             /* changes to 1024px at tablet */
//             max-width: calc(584 / 16 * 1rem);
//             margin: auto;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             /* 48px - 64px */
//             gap: clamp(3rem, 6vw, 4rem);
//         }

//         .cs-content {
//             /* set text align to left if content needs to be left aligned */
//             text-align: center;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             /* centers content horizontally, set to flex-start to left align */
//             align-items: center;
//         }

//         .cs-title {
//             max-width: 20ch;
//             margin: 0;
//         }

//         .cs-card-group {
//             width: 100%;
//             padding: 0;
//             margin: 0;
//             display: grid;
//             grid-template-columns: repeat(12, 1fr);
//             /* 16px - 20px */
//             gap: clamp(1rem, 2.5vw, 1.15rem);
//         }

//         .cs-item {
//             list-style: none;
//             text-align: left;
//             /* 20px - 60px */
//             padding: clamp(1rem, 4vw, 3.75rem);
//             background-color: #fff;
//             /* 12px - 24px */
//             border-radius: clamp(0.75rem, 1.5vw, 1.25rem);
//             /* prevents padding from adding to height and width */
//             box-sizing: border-box;
//             /* clips the pseudo box from overflowing */
//             overflow: hidden;
//             display: flex;
//             grid-column: span 12;
//             justify-content: center;
//             align-items: flex-start;
//             flex-direction: column;
//             position: relative;
//             z-index: 1;

//             &:before {
//                 /* background color */
//                 content: "";
//                 width: 100%;
//                 height: 100%;
//                 background: var(--primary);
//                 opacity: 0.05;
//                 position: absolute;
//                 display: block;
//                 top: 0;
//                 left: 0;
//                 z-index: -1;
//                 /* prevents the mouse from interacting it */
//                 pointer-events: none;
//             }
//         }

//         .cs-quote {
//             /* 72px - 120px */
//             width: clamp(4.5rem, 10vw, 7.5rem);
//             height: auto;
//             /* 32px - 64px */
//             margin-bottom: clamp(2rem, 6vw, 4rem);
//             display: block;
//         }

//         .cs-item-text {
//             /* 16px - 25px */
//             font-size: clamp(1rem, 2.6vw, 1.5625rem);
//             line-height: 1.2em;
//             font-weight: bold;
//             margin: 0;
//             /* 24px - 64px */
//             margin-bottom: clamp(1.5rem, 6vw, 4rem);
//             color: var(--bodyTextColor);
//         } 

//         .cs-flex-group {
//             /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
//             margin-top: auto;
//             display: flex;
//             justify-content: flex-start;
//             align-items: center;
//             /* 8px - 24px */
//             gap: clamp(0.8rem, 1.5vw, 1rem);
//         }

//         .cs-profile {
//             /* 40px - 52px */
//             width: clamp(2.5rem, 5vw, 3.25rem);
//             height: clamp(2.5rem, 5vw, 3.25rem);
//             margin: 0;
//             border-radius: 50%;
//             box-sizing: border-box;
//             border: 2px solid #fff;
//             /* clips image corners to make circle */
//             overflow: hidden;
//             position: relative;
//             display: block;

//             img {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 height: 100%;
//                 width: 100%;
//                 /* makes the image behave like a background image */
//                 object-fit: cover;
//             }
//         }

//         .cs-name {
//             /* 16px - 25px */
//             font-size: clamp(1rem, 2.5vw, 1.5625rem);
//             line-height: 1.2em;
//             font-weight: 700;
//             margin: 0;
//             color: var(--headerColor);
//             display: block;
//         }

//         .cs-job {
//             /* 14px - 16px */
//             font-size: clamp(0.875rem, 1.5vw, 1rem);
//             line-height: 1.5em;
//             font-weight: 400;
//             margin: 0;
//             color: #746f95;
//             display: block;
//         }
//     }
// }

// /* Tablet - 768px */
// @media only screen and (min-width: 48rem) {
//     #reviews-1396 {
//         .cs-container {
//             max-width: calc(1280 / 16 * 1rem);
//         }

//         .cs-item {
//             grid-column: span 4;
//         }
//     }
// }
