/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
#RPsbs-693 {
    &.grey-background {
        background-color: #f7f7f7;
    }

    &.cs-wide .cs-image-group{
        width: 43em
    }
}

#RPsbsr-693 {
    .cs-content .cs-li {
            list-style-image: url("../svgs/heart-up.svg");
            list-style-position: outside;
            line-height: 1;
            margin-left: 1.5rem;

        &::marker {
            font-size: 2em;
            }
        .bullet-transform {
            display: inline-block;
            vertical-align: 0.1em;
            transform: translate(0, 0.6em);
            }
        }

        .cs-list-group {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            margin-bottom: 2rem;
        }
}


/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-676 {
        position: relative;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(992 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(3rem, 8vw, 6.25rem);
        }

        .sbs-card-text {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
        }

        .cs-content {
            text-align: center;
        }
        
        .cs-content-side {
            justify-content: center;
            text-align: left;
            width: 100%;
            max-width: calc(487 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;

            .cs-list-desc {
                font-size: 1.25em;
                font-weight: bold;
                text-align: center;
            }

            .cs-ul {
                margin-bottom: 2rem;
            }

            .cs-li {
                list-style-image: url("../svgs/plus.svg");
                list-style-position: outside;
                line-height: 1;
                margin-left: 1.5rem;

                &::marker {
                    font-size: 3em;
                }
            }
        }

        .cs-color {
            color: var(--primary);
        }
        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            order: -1;
        }

        .cs-item {
            list-style: none;
            /* 40px - 64px */
            padding: clamp(2.5rem, 6.3vw, 4rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #eff1f0;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
            transition: 0.4s;

            &:hover {
                background-color: var(--primary);
                .cs-link,
                .cs-h2 {
                    color: #f7f7f7;
                }
            }
        }

        .cs-picture {
            width: calc(100 / 16 * 1rem);
            height: calc(100 / 16 * 1rem);
            margin: 0 0 calc(20 / 16 * 1rem) 0;
            background-color: #fdfaf8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: calc(52 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h2 {
            font-size: calc(25 / 16 * 1rem);
            font-weight: 700;
            text-align: center;
            line-height: 1.2em;
            /* 20px - 32px */
            margin: 0 0 clamp(1.25rem, 3vw, 2rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            margin: 0;
            color: var(--primary);
            display: inline-block;
            position: relative;
            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: -1px;
                left: 0;
            }
        }

        .cs-floater {
            display: none;
            width: clamp(5rem, 9vw, 13.5rem);
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #services-676 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-content-side {
            align-items: center;
        }

        .cs-item {
            width: 32%;

            &:nth-of-type(3) {
                order: 4;
            }
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-676 {
        .cs-container {
            max-width: calc(1440 / 16 * 1rem);
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .sbs-card-text {
            flex-direction: row;

            .cs-content-side {
                align-items: flex-start;

                .cs-list-desc {
                    text-align: left;
                }
            }

        }

        .cs-floater {
            display: block;
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1346 {
        padding: var(--sectionPadding);
        position: relative;
        padding-bottom: clamp(25rem, 30vw, 28.125rem);

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: min(2.15vw, 0.75em);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: 42em;
            height: calc(805 / 16 * 1em);
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            overflow: hidden;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: calc(542 / 16 * 1em);
            height: calc(647 / 16 * 1em);
            border-radius: calc(285 / 16 * 1em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: calc(413 / 16 * 1em);
            height: calc(493 / 16 * 1em);
            border-radius: calc(206 / 16 * 1em);
            border: calc(12 / 16 * 1em) solid #fff;
            background-color: #fff;
            bottom: 0;
            right: 0;
        }

        .cs-flower {
            width: calc(363 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            bottom: calc(-30 / 16 * 1em);
            left: calc(-10 / 16 * 1em);
            z-index: -1;
            transform: rotate(-142deg);
        }

        .cs-sense {
            width: calc(81 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            bottom: calc(460 / 16 * 1em);
            right: calc(22 / 16 * 1em);
            transform: rotate(164deg);
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: start;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            margin-bottom: 2rem;
        }

        .cs-flex-group {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-wrapper {
            position: relative;
        }

        .cs-button-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: calc(8 / 16 * 1rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-option {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            /* 50px - 72px */
            line-height: clamp(3.125rem, 5vw, 4.5rem);
            font-weight: 700;
            padding: 0;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            color: var(--headerColor);
            border: 1px solid #e8e8e8;
            position: relative;
            z-index: 1;
            transition: border-color 0.3s;

            &:before {
                /* background color */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }

            &:hover {
                &:hover {
                    border-color: var(--primary);
                    cursor: pointer;
                    &:before {
                        opacity: 0.1;
                    }
                }
            }

            &.cs-active {
                border-color: var(--primary);
                &:before {
                    opacity: 0.1;
                }
            }
        }

        .cs-faq-group {
            width: 100%;
            max-width: calc(847 / 16 * 1rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(8 / 16 * 1rem);
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: top;
            transform-style: preserve-3d;
            perspective: 900px;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
                top: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0);

                .cs-faq-item {
                    transform: rotateX(270deg);
                    opacity: 0;
                }
            }
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border: 1px solid #e8e8e8;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            opacity: 1;
            top: 0;
            transform: rotateX(0deg);
            transition:
                transform 0.6s,
                opacity 0.3s;

            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.8s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.9s;
            }

            &.active {
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 2vw, 1.25rem);
            background-color: #fff;
            border: none;
            color: var(--headerColor);
            display: flex;
            gap: 0.5rem;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: calc(24 / 16 * 1rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: calc(21 / 16 * 1rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-floater {
            display: none;
            width: clamp(5rem, 9vw, 13.5rem);
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            margin-top: 1.5rem;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 64rem) {
    #faq-1346 .cs-container{
        flex-direction: row;
    }
}

@media only screen and (min-width: 81.25rem) {
    #faq-1346 .cs-floater {
        display: block;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
    #faq-1346 {
        .cs-image-group {
            font-size: min(1.15vw, 1em);
        }

        // .cs-content {
        //     width: 48%;
        // }

        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-flex-group {
            flex-direction: row;
        }

        .cs-button-group {
            width: 31%;
            max-width: calc(413 / 16 * 1rem);
        }
    }
}
                                

                                